.content {
  max-width: 960px;
  margin: auto;
}
.gallery {
  max-width: 960px;
  margin:auto;
}
.gallery img {
  transition: .1s;
  padding: 1px
}
.gallery img:hover {
  transform: scale(1.03);
}
#parent {
  padding: inherit;
  text-align: justify;
  font-size: 0.1px; /* IE 9/10 fix */
}
#parent li {
  display: inline-block;
}
#parent:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}
.header {
  height: 200px;
  background-image: url("images/main/boat-port-banner.JPG");
  background-position: right center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: auto 250px;
  text-align: center;
  line-height: 200px;
}
.header h1{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: xxx-large;
  position: relative
}
.header-button{
  width: min-content;
  height: min-content;
}
